 
      p {
        font-family: arial;
        margin-top: 0;
        margin-bottom: 0;
      }

      .Videotitle {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 0px;
      }

      .Video-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin: 10px;
      }
      .Video-author {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin: 10px;
      }
      .Video-description {
        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280px;
        line-height: 22px;
        margin-bottom: 100px;
      }
      .Apple-text {
        margin-bottom: 50px;
        font-size: 14px;
        background-color: rgb(227, 65, 64);
        color: white;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;
      }
      .span-example:hover {
        text-decoration: underline;
        cursor: pointer;
      }
  