.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between ;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
}
 
.left-section {
    width: 150px;
    margin-right: 70px;
    align-items: center;
}

.right-section {
    width: 180px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      margin-right: 15px;
      flex-shrink: 0;
}

.middle-section {
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.youtube-logo {
    height: 20px;
    margin-bottom: 3px;
}
.search-button {
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-right: 10px;

     
}


.voice-search-button,
    .search-bar, 
    .upload-icon-container,
    .notification-icon-container,
    .youtube-apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notification-icon-container .tooltip,
.youtube-apps-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-family: roboto, arial;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip {
    opacity: 1;
}


.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(240, 240, 240);
}
.search-bar {
    flex: 1;
    height: 40px !important;
    padding-left: 10px;
    font-size: 16px;
    border-width: .5px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.10);
    margin-right: -2px;
    border-color: rgb(192, 192, 192,) !important;
    width: 0;
    
}
.search-bar::placeholder {
    font-family: roboto, arial;
    font-size: 16px;
}
.search-icon {
    height: 20px;
}
.voice-search-icon{
    height: 24px;
}

.upload-icon {
    height: 24px;
}
.youtube-icon {
    height: 24px;
}
.notification-icon {
    height: 24px;
}
.notification-icon-container {
    position: relative;
}
.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(141, 0, 0);
    color: white;
    font-family: roboto, arial;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
    padding-left: 2px;
     padding-right: 2px;
    border-radius: 10px;
}
.user-profile-icon {
    height: 32px;
    border-radius: 16px;
}
