
      .thumbnails {
        width: 100%;
      }
   
      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        margin-left: 5px;
      }
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        height: 100%;
      }

      .profile-picture {
        width: 50px;
        border-radius: 50px;
      }
      .thumbnail-row {
        margin-bottom: 12px;
        position: relative;
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
        margin: 0;
        margin-left: 5px;
      }
      .video-stats {
        margin-top: 5px;
      }
      .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 16px;
        row-gap: 40px;
      } 
   .video-time {
    font-family: arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px; 
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
}   